/***********************
		GENERAL
************************/

body {
	font-family: arial,sans-serif;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

a {
	text-decoration: none;
}

/***********************
		HEADING
************************/

#top-nav {
	float: right;
}

/***********************
	SEARCH ENGINE UI
************************/

main {
	clear: both;
	text-align: center;
}

#search-box {
	width: 570px;
	height: 23px;
}

/***********************
		FOOTER
************************/

#left-nav {
	float: left;
}

#right-nav {
	float: right;
}