/***********************
		GENERAL
************************/

html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: arial,sans-serif;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

a {
	text-decoration: none;
}

#wrapper {
	height: 100%;
	min-height: 460px;
	position: relative;
}

.min-window {
	min-width: 980px;
}

/*.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}*/

/***********************
		HEADING
************************/

#top-nav {
	float: right;
	padding-right: 25px;
	margin-bottom: 46px;
}

#top-nav li {
	padding: 0 5px;
}

#top-nav li:nth-child(4) {
	width: 30px;
	height: 18px;
}

#top-nav a {
	color: #404040;
	font-size: small;
}

#top-nav a:hover {
	text-decoration: underline;
}

#menu-button {
	background-image: url("../images/menu-icon.png");
	background-position: -326px -52px;
	position: absolute;
	width: 30px;
	height: 30px;
	opacity: .55;
}

#menu-button:hover {
	opacity: 1;
}

#top-nav button {
	border: 0;
	padding: 7.5px 13px;
	color: #fff;
	font-weight: bold;
	background: #4285f4;
	border-radius: 2px;
}

/***********************
	SEARCH ENGINE UI
************************/

main {
	text-align: center;
	padding-top: 100px;
}

main img#main-logo {
	margin-bottom: 19px;
}

#box {
	display: inline-block;
	border: 1px solid #cdcdcd;
	border-color: rgba(0,0,0,.15);
	padding: 5px 37px 5px 9px;
}

span#box.colorbox {
	border: 1px solid #4285f4 !important;
}

span#box:hover {
	border-color: rgba(0,0,0,.3);
}

#search-box {
	border: 0;
	padding: 0;
	width: 524px;
	height: 17px;
	outline: 0;
}

#search-buttons {
	margin-top: 15px;
}

#search-buttons button {
	color: #444;
	border: 1px solid #dcdcdc;
	background: #f5f5f5;
	padding: 7.5px 8px;
	margin: 0 6px;
	font-weight: bold;
	font-size: 11px;
	font: bold 11px Arial,sans-serif !important; /*Firefox reset*/
}

#search-buttons button:focus {
	border: 1px solid #4285f4;
	outline: 0;
}

/***********************
		FOOTER
************************/

footer {
	width: 100%;
	font-size: small;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	bottom: 0;
	position: absolute;
}

footer a {
	color: #666;
}

footer a:hover {
	text-decoration: underline;
}

#left-nav {
	float: left;
	padding-left: 17px;
}

#right-nav {
	float: right;
	padding-right: 17px;
}

#left-nav li, #right-nav li {
	padding: 0 13px;
}

/***********************
	MEDIA QUERIES
************************/