/***********************
		GENERAL
************************/

html,
body {
	margin: 0;
	height: 100%;
	font-family: arial,sans-serif;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

a {
	text-decoration: none;
}

/***********************
		HEADING
************************/

#top-nav {
	float: right;
}

/***********************
	SEARCH ENGINE UI
************************/

main {
	clear: both;
	text-align: center;
	padding-top: 100px;
}

main img {
	margin-bottom: 25px;
}

#search-box {
	width: 570px;
	height: 23px;
}

#search-buttons {
	margin-top: 15px;
}

/***********************
		FOOTER
************************/

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#left-nav {
	float: left;
}

#right-nav {
	float: right;
}